# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kmtjihrobvbejsckdwmr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# KKiaPay
NEXT_PUBLIC_KKIAPAY_PUBLIC_KEY=
KKIAPAY_PRIVATE_KEY=
KKIAPAY_SECRET_KEY=

# Email provider
EMAIL_API_KEY=
NOTIFICATION_EMAIL=Sabrina.zidek@fn.de

# Application
NEXT_PUBLIC_SITE_URL=http://localhost:3000
